* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.navbar {
  background-color: rgb(59, 59, 152);
  height: 80px;
}

.login-btn {
  font-weight: 600;
}

.account-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.auth-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
}

.account-header .myaccount {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.navbar .nav-item .nav-link,
.navbar .navbar-brand {
  color: #fff;
  font-size: 21px;
}

.common-button {
  background: rgb(179, 57, 57);
  color: #fff;
}

.courses-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  height: 90vh;
}

.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.card-div .card {
  max-width: 500px;
  height: auto;
  padding: 30px 10px;
}

.card-logo {
  width: 100px;
  object-fit: cover;
  margin: auto;
}

.breadcrumb .breadcrumb-item a {
  color: #000000;
}

.image-height-width {
  width: 100px;
  object-fit: cover;
}

.card-outer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.card-image-div {
  height: 100%;
  margin: auto 0;
}

.e-material {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button_type {
  background: #005CA7;
  border: none;
  padding: 8px 10px;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  float: right;
  width: 30%;
  text-align: center;
  text-decoration: none;
}

.username {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.colFluidPadding {
  height: 100%;
}

.stiker {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.stiker .stickerImage {
  width: 100%;
  height: 132px;
  /* max-width: 100%; */
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.about-heading {
  color: #1F1E1E;
  font-weight: 400;
  font-size: 35px;
  line-height: 53px;
  text-align: center;
}

.aboutcoaching {
  padding: 15px 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.course_btn {
  display: flex;
  justify-content: space-between;
}

.scheduled-classes {
  height: 350px;
}

.eachSubTitle {
  font-weight: 700;
  color: #2B2828;
  font-size: 18px;
  line-height: 27px;
  height: 50px;
}

.eachBatchStart {
  color: #04529D;
  font-weight: bold;
}

.eachDate {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.scheduled-card {
  padding: 15px 15px 0 15px;
}

.toppers_ad_mobile {
  display: none;
}

.toppers_ad_pc {
  display: block;
}

.container-ias {
  padding: 10px 0 50px 0;
}

.error {
  color: red;
}

.form-label {
  font-weight: 500;
}

.user-login {
  font-size: 15px;
  line-height: 15px;
  color: #fff;
  border: none;
  font-weight: 500;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  margin: 0 0 5px 0;
}

.login_tab {
  background: transparent;
  border: none;
  color: #005CA7;
}

.login_tab.active {
  border-bottom: 3px solid red;
}

.common-login {
  background: #05f;
}

.common-color {
  background: #dc3545;
}

.common-padding {
  padding: 15px 25px;
}

.common-padding2 {
  padding: 10px 30px;
}

.signup {
  margin-left: 10px;
}

.react-tel-input .form-control {
  width: 100%;
  height: auto;
}

.common-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.common-section h1 {
  font-size: 80px;
  font-weight: 600;
}

.eye-btn {
  background: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 35px;
  color: grey;
  font-size: 18px;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.MuiLoadingButton-root.MuiLoadingButton-loading{
  text-transform: lowercase !important;
}
@media screen and (max-width: 992px) {
  .toppers_ad_pc {
    display: none;
  }

  .toppers_ad_mobile {
    display: block;
  }
}

@media (max-width: 767px) {
  .navbar {
    height: 100%;
    position: relative;
    z-index: 2;
  }

  .modal-backdrop {
    z-index: 1;
  }

  .course-heading {
    font-size: 21px;
  }

  .card-div {
    flex-direction: column;
  }

  .course-header {
    flex-direction: column;
  }

  .breadcrumb .breadcrumb-item {
    font-size: 15px;
    font-weight: 500;
  }

  .tab-button {
    font-size: 12px;
    font-weight: 600;
  }

  .video-title {
    font-size: 17px;
  }

  .e-material {
    flex-direction: column;
    align-items: flex-start;
  }

  .toppers_ad_mobile img {
    width: 100%;
  }

  .colFluidPadding {
    margin-top: 20px;
  }

  .scheduled-classes {
    margin-bottom: 20px;
  }
  .auth-header{
    justify-content: flex-start;
  }
  .account-header{
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    height: 100%;
    position: relative;
    z-index: 2;
  }

  .modal-backdrop {
    z-index: 1;
  }

  .colFluidPadding {
    margin-top: 10px;
  }

  .stiker .stickerImage {
    width: inherit;
  }

  .toppers_ad_mobile img {
    width: 100%;
  }

  .scheduled-classes {
    height: auto;
    margin-bottom: 15px;
  }
  .auth-header{
    justify-content: flex-start;
  }
  .account-header{
    flex-direction: column;
    align-items: flex-start;
  }
}